.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

.breadcrumb {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.breadcrumb a,
a {
  color: #2957a2;
}

.button:active,
.button:focus,
.file-cta:active,
.file-cta:focus,
.file-name:active,
.file-name:focus,
.input:active,
.input:focus,
.is-active.button,
.is-active.file-cta,
.is-active.file-name,
.is-active.input,
.is-active.pagination-ellipsis,
.is-active.pagination-link,
.is-active.pagination-next,
.is-active.pagination-previous,
.is-active.textarea,
.is-focused.button,
.is-focused.file-cta,
.is-focused.file-name,
.is-focused.input,
.is-focused.pagination-ellipsis,
.is-focused.pagination-link,
.is-focused.pagination-next,
.is-focused.pagination-previous,
.is-focused.textarea,
.pagination-ellipsis:active,
.pagination-ellipsis:focus,
.pagination-link:active,
.pagination-link:focus,
.pagination-next:active,
.pagination-next:focus,
.pagination-previous:active,
.pagination-previous:focus,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus,

a:hover,
a:focus,
a:active,

button:hover,
button:focus,
button:active,

input:hover,
input:focus,
input:active,

textarea:hover,
textarea:focus,
textarea:active,

select:hover,
select:focus,
select:active,

[tabindex]:hover,
[tabindex]:focus,
[tabindex]:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;
}

@media (-webkit-min-device-pixel-ratio:0) {
  .button:active,
  .button:focus,
  .file-cta:active,
  .file-cta:focus,
  .file-name:active,
  .file-name:focus,
  .input:active,
  .input:focus,
  .is-active.button,
  .is-active.file-cta,
  .is-active.file-name,
  .is-active.input,
  .is-active.pagination-ellipsis,
  .is-active.pagination-link,
  .is-active.pagination-next,
  .is-active.pagination-previous,
  .is-active.textarea,
  .is-focused.button,
  .is-focused.file-cta,
  .is-focused.file-name,
  .is-focused.input,
  .is-focused.pagination-ellipsis,
  .is-focused.pagination-link,
  .is-focused.pagination-next,
  .is-focused.pagination-previous,
  .is-focused.textarea,
  .pagination-ellipsis:active,
  .pagination-ellipsis:focus,
  .pagination-link:active,
  .pagination-link:focus,
  .pagination-next:active,
  .pagination-next:focus,
  .pagination-previous:active,
  .pagination-previous:focus,
  .select select.is-active,
  .select select.is-focused,
  .select select:active,
  .select select:focus,
  .textarea:active,
  .textarea:focus,

  a:hover,
  a:focus,
  a:active,

  button:hover,
  button:focus,
  button:active,

  input:hover,
  input:focus,
  input:active,

  textarea:hover,
  textarea:focus,
  textarea:active,

  select:hover,
  select:focus,
  select:active,

  [tabindex]:hover,
  [tabindex]:focus,
  [tabindex]:active {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}
/* v-h stands for visually hidden */
.v-h {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.v-h a:focus,
.v-h input:focus,
.v-h button:focus {
    position:static;
    width:auto;
    height:auto;
}

.content ul.soc {
  list-style: none;
  margin: 0;
}

.soc li {
  display: inline;
}

.menu-list a.tag:not(body) {
  display: inline-flex;
  border-radius: 4px;
  padding-left: .75em;
  padding-right: .75em;
}

.menu-list:not(.forum-list) a.tag:not(body) {
  color: #4a4a4a;
}

.button.is-wide {
  width: 100%;
}

a[href*="//"]:not([href*="localhost"]):not([href*="epam.com"]):not([href*="mysite.com"]):focus,
a[href*="//"]:not([href*="localhost"]):not([href*="epam.com"]):not([href*="mysite.com"]):hover,
a[href*="//"]:not([href*="localhost"]):not([href*="epam.com"]):not([href*="mysite.com"]):active {
  cursor: alias;
}

.tabs button {
  background: none;
  font-size: 1rem;
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
}

.tabs button:hover {
  border-bottom-color: #363636;
  color: #363636;
}

.tabs.is-boxed button {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.tabs li.is-active button {
  border-bottom-color: #3273dc;
  color: #3273dc;
}

.tabs.is-boxed button:hover {
  background-color: #f5f5f5;
  border-bottom-color: #dbdbdb;
}

.hero.is-info .tabs button {
  color: #fff;
  opacity: .9;
}

.tabs.is-boxed li.is-active button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-bottom-color: transparent!important;
}

.hero.is-info .tabs button:hover {
  opacity: 1;
}

.hero.is-info .tabs.is-boxed button,
.hero.is-info .tabs.is-toggle button {
  color: #fff;
}

.hero.is-info .tabs li.is-active button {
  opacity: 1;
}

.hero.is-info button:not(.button):not(.dropdown-item):not(.tag),
.hero.is-info strong {
  color: inherit;
}

.hero.is-info .tabs.is-boxed button:hover,
.hero.is-info .tabs.is-toggle button:hover {
  background-color: rgba(10,10,10,.1);
}

.hero.is-info .tabs.is-boxed li.is-active button,
.hero.is-info .tabs.is-boxed li.is-active button:hover,
.hero.is-info .tabs.is-toggle li.is-active button,
.hero.is-info .tabs.is-toggle li.is-active button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #209cee;
}

time.subtitle {
  display: block;
}

.button.is-info,
.button.is-info.is-hovered,
.button.is-info:hover,
.button.is-info:active,
.button.is-info:focus,
.hero.is-info {
  background-color: #0e6faf;
}

.tag:not(body).is-primary {
  background-color: #166d61;
}

.has-background-grey-light {
  background-color: #d6d2d2!important;
}

.hero.is-info .tabs.is-boxed li.is-active button, .hero.is-info .tabs.is-boxed li.is-active button:hover, .hero.is-info .tabs.is-toggle li.is-active button, .hero.is-info .tabs.is-toggle li.is-active button:hover {
  color: #0e6faf;
}

.tag:not(body).is-danger {
  background-color: #bb3333;
}

.help.is-danger {
  color: #bb3333;
}

.tag:not(body).is-success {
  background-color: #248243;
}

.help.is-success {
  color: #248243;
}

.has-text-grey-light {
  color: #828282!important;
}